@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Courgette&family=Roboto:wght@100;300;400&family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
    "sidebar main"
    "sidebar footer";
}

:root {
    --spacing: .25rem;
}

/* Header Section */

header {
    grid-area: header;
}


.site-header {
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem;
    margin: 0;
    text-align: left;
    background-color: #f8f8f8;
    max-height: 200px;
    max-width: auto;
    /* border: solid 5px #000; */
}

.header-icon {
    color: #555;
    font-size: 4rem;
    padding: 5px;
    margin: 0;
    /* border:  solid 5px #000; */
}

.header-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    /* border: solid 1px #000; */
    display: inline-block;
    margin: 0;
    padding: 0;
}

.site-header p {
    font-size: 1.2rem;
    color: #555;
    /* border: #000 solid 10px; */
}
.tag-line {
    font-size: 1.5rem;
    text-align: centerleft;
    /* border: #000 solid 5px; */
    
}



/* Sidebar and Navigation */

aside {
    grid-area: sidebar;
}

.sidebar a {
    text-decoration: none;
    color: grey;
}

.sidebar {
    /*width: 300px; */
    background-color: aquamarine;
    margin: 1rem 0;

}

.sidebar li {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: #555;
}

.sidebar li a {
    display: block;
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
    line-height: 3rem;
}

.sidebar li a:hover {
    background-color: #fa55;
    color:#555;
}

.sidebar li a.active {
    background-color: #555;
    color: #f8f8f8;
}

/* Main Information Display Section */
.main {
    grid-area: main;
}

.main h2, p {
    font-family: "Comfortaa", sans-serif;
    padding: 20px;
}

.main h2 {
    text-transform: uppercase;
}

.banner {
    border-radius: 10px;
    background-color: yellowgreen;
    color: #555;
    margin: 1rem;
}


/* Dashboard Cards */

.card-container {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 2rem;
}
/* This is the main card template */
.card-wrapper {                 
    border: solid 3px aquamarine;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    padding: 0.5rem;
}

.card-title {
    /* text-align: center; */
    /* justify-items: center; need to figure out how to justify the content properly */
    height: 50px;
    padding: 20px;
    background-color: #fff;
    color: #555;
}

.card-title h3 {
    font-family: "Comfortaa", sans-serif;
    text-transform:capitalize;
    text-align: left;
    font-size: 1.15rem;
}

/* .card-title span {
    justify-self: right;
    font-size: 1rem;
} */

.card-body {
    padding: 1rem;
    
}

.card-body p {
    font-family: "Comfortaa", sans-serif;
    line-height: .5;
    text-align: left;
    padding: 15px;
}

.count {
    font-size: 2rem;
    font-weight: bold;
}
/* icon placement in card */
.icon {
    padding-left: 120px;
    font-size: 1rem;
}








/* Footer Section */

footer {
    grid-area: footer;
}

.site-footer {
    padding: 2rem;
}

.site-footer p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #f8f8f8;
    color: #555;
    border: solid 2px black;
    border-radius: 10px;

}

/* Media Queries for responsivness */

/* @media screen and (max-width: 900px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar li a {
        float: left;
        padding: 15px;
    }
    
} */