@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Courgette&family=Roboto:wght@100;300;400&family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
    "sidebar main"
    "sidebar footer";
}

:root {
    --spacing: .25rem;
    --darkfont: #482728;
    --lightfont: #F5F5F5;
    --darkbackground: #BDCFB5;
    --lightbackground: #DAFBE4;
}

/* Header Section */

header {
    grid-area: header;
}


.site-header {
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem;
    margin: 0;
    text-align: left;
    background-color: var(--lightbackground);
    max-height: 200px;
    max-width: auto;
    /* border: solid 5px #000; */
}

.header-icon {
    color: var(--darkfont);
    font-size: 4rem;
    padding: 5px;
    margin: 0;
    /* border:  solid 5px #000; */
}

.header-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    /* border: solid 1px #000; */
    display: inline-block;
    margin: 0;
    padding: 0;
}

.site-header p {
    font-size: 1.2rem;
    color: var(--darkfont);
    /* border: #000 solid 10px; */
}
.tag-line {
    font-size: 1.5rem;
    text-align: centerleft;
    /* border: #000 solid 5px; */
    
}



/* Sidebar and Navigation */

aside {
    grid-area: sidebar;
}

.sidebar a {
    text-decoration: none;
    color: var(--darkfont);
    border-radius: 20px;
}

.sidebar {
    /*width: 300px; */
    background-color: var(--lightbackground);
    margin: 0;

}

.sidebar li {
    font-size: 1.2rem;
    list-style: none;
    padding: .25rem;
    margin: .5rem;
    font-family: 'Comfortaa', sans-serif;
    color: var(--darkfont);
}

.sidebar li a {
    display: block;
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
    line-height: 3rem;
}

.sidebar li a:hover {
    background-color: var(--darkbackground);
    color:var(--lightfont);
}

.sidebar li a.active {
    background-color: var(--darkbackground);
    color: var(--darkfont);
}

/* Main Information Display Section */
.main {
    grid-area: main;
}

.main h2, p {
    font-family: "Comfortaa", sans-serif;
    padding: 20px;
}

.main h2 {
    text-transform: uppercase;
}

.banner {
    border-radius: 10px;
    background-color: yellowgreen;
    color: #555;
    margin: 1rem;
}


/* Dashboard Cards */

.card-container {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 2rem;
}
/* This is the main card template */
.card-wrapper {                 
    border: solid 3px aquamarine;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    padding: 0.5rem;
}

.card-title {
    /* text-align: center; */
    /* justify-items: center; need to figure out how to justify the content properly */
    height: 50px;
    padding: 20px;
    background-color: #fff;
    color: #555;
}

.card-title h3 {
    font-family: "Comfortaa", sans-serif;
    text-transform:capitalize;
    text-align: left;
    font-size: 1.15rem;
}

/* .card-title span {
    justify-self: right;
    font-size: 1rem;
} */

.card-body {
    padding: 1rem;
    
}

.card-body p {
    font-family: "Comfortaa", sans-serif;
    line-height: .5;
    text-align: left;
    padding: 15px;
}

.count {
    font-size: 2rem;
    font-weight: bold;
}
/* icon placement in card */
.icon {
    padding-left: 120px;
    font-size: 1rem;
}

.alert-cards {
    width: 840px;
}


/** Checklist Page **/

.checks-banner {
    width: 100%;
    margin: 1rem;
    background-color: var(--darkbackground);
    color: var(--lightfont);
    border-radius: 25px;
}
/* .checks li {
    font-size: 1.2rem;
    list-style: none;
    padding: .25rem;  removed as it creates unnecceary space around the slider bar
    margin: .5rem;
    font-family: 'Comfortaa', sans-serif;
    color: var(--darkfont);
    display: inline;
    width: 50px;
    text-align: center;
}

.checks li a {
    text-decoration: none;
    color: var(--darkfont);
    border-radius: 20px;
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
    line-height: 3rem;
}

.checks li a:hover {
    background-color: var(--lightbackground);
    color:var(--darkfont);
}

.checks li a.active {
    background-color: var(--darkbackground);
    color: var(--darkfont); */

.tabs-section {
    max-width: 1500px; /* controls the width of the tab navigation */
    width: 100%;
    min-height: 300px;
    font-size: 1.2rem;
    font-family: 'Comfortaa', sans-serif;
}

.tabs-section input[type=radio] {
    display: none;}


.tabs-section label {
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.tab-content h3 {
    margin:auto 0;
    padding: 30px 30px 0;
}

.tab-content #content1, #content2, #content3 {
    display: block;
    line-height: 3rem;
}

.tab-check {
    line-height: 2rem;
    margin: 1rem;
}



/* Footer Section */

footer {
    grid-area: footer;
}

.site-footer {
    padding: 2rem;
}

.site-footer p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #f8f8f8;
    color: #555;
    border: solid 2px black;
    border-radius: 10px;

}

/* Media Queries for responsivness */

/* 900px screen width */
/* @media screen and (max-width: 900px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar li a {
        float: left;
        padding: 15px;
    }
    
} */

/* 400pxx screen width */
/* @media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar li a {
        float: left;
        padding: 15px;
    }
    
} */